@font-face {
  font-family: "Geist Sans";
  src: url("./assets/GeistVariableVF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist Sans", sans-serif;
}
